.input-unit-bearing select {
    padding: 5px 5px;

}

.sl-bearingtype {
  border-color: #80808047;
  float: left;
}
.input-unit-bearing .row {
  margin: 10px 0;
  text-align: left;
}
.input-unit-bearing .unit {
  margin: 0 0 10px 0;
  text-align: left;
}
.rd-mili {
    margin-right: 5px;
}
.rd-inch {
    margin: 0 5px 0 15px;
    display: inline-block;
}
.rd-mili {
    margin-right: 5px;
    display: inline-block;
    float: left;
    margin-left: -10px;
}
.ant-carousel .slick-center {
    height: 25rem;
    padding: 1rem;
}
.ant-carousel .slick-center img {
    height: 200px!important;
    margin: auto;
}
.ant-carousel .item img {
  height: 150px;
  margin: auto;
}
.ant-carousel .slide-caption-title {
    font-size: 18px;
    color: #545454;
    text-align: center;
    margin-top: -5px;
    line-height: normal;
    font-weight: bold;
}
.ant-carousel .item {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.btn-search {
  color: #fff !important;
  border-radius: 3px;
  background-color: #63b128 !important;
  padding: 10px 40px;
  width: 50%;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}
.btn-search:hover {
  background-color: #4f8d20 !important;
  color: #fff !important;
  transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -webkit-transition: all 500ms ease 0s;
}
span.title-search {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 7px;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
  display: block;
  font-weight: bold;
}
.search-content {
  background-color: #f0f2ee;
  box-shadow: 0 0 5px 0 #63b128;
  padding: 30px 0 32px 0;
}
.ant-carousel .slick-slide:not(.slick-center) {
  opacity: 0.4;
  margin-top: 50px;
}
.ant-carousel .slick-slide:not(.slick-center) .slide-caption-title {
    display: none;
}
.sl-bearingtype {
  border-radius: 3px;
  width: 50%;
  border-color: #bcbcbc;
  height: 35px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1.2;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  background: linear-gradient(#63b128, #63b128) no-repeat,
              linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(#63b128, #63b128) no-repeat;
  background-color: white;
  background-size: 0px 100%, 25px 25px, 25px 25px, 25px 55%;
  background-position: right 25px center, right bottom, right bottom, right bottom;
}
.title-unit {
    margin-bottom: 5px;
}
.unit .title-unit {
    margin-bottom: 9px;
}
.main-title {
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #63b128;
  margin-left: 20px;
}
.logo {
    display: block;
    text-align: left;
    padding: 10px 0;
}
.rd-mili label,
.rd-inch label {
    display: inline-block;
    margin-left: 10px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #545454;
}
.unit .sl-unit select:focus {
  -webkit-box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
          box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
  outline: 3px solid #005BA6;
  outline-offset: -3px;
}
.unit .sl-unit select[disabled], [include*="form-input-select()"] select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.unit .sl-unit select:invalid {
  color: #C7C7C7!important;
}
.start-opt {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}
.sl-unit select:invalid {
    color: #C7C7C7;
}
.sl-unit select {
    border-radius: 3px;
    font-weight: 400;
    color: inherit;
    padding: 8px 15px;
    line-height: normal;
    -webkit-transition: border-color 0.2s ease, outline 0.2s ease;
    transition: border-color 0.2s ease, outline 0.2s ease;
}
.sl-unit {
  display: block;
  padding: 0;
  position: relative;
  color: #aaaaaa;
  display: block;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  margin-top: 9px;
  width: 100%;
}
/**********************react-slick*************************/
.slick-slider {
    margin: 10px auto 0px;
}
.slick-slider {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translate3d(0,0,0);
}
.slick-list {
    margin: 0;
    padding: 0;
}
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;

}
.slick-slider {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #bcbcbc;
}

.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-track {
    left: 0;
    top: 0;
}
.slick-next, .slick-prev {
    height: 40px;
    width: 40px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 50%;
    transform: translate(0,-50%);
    border: none;
    outline: 0;
}
.popup, .slick-list, .switch {
    overflow: hidden;
}
.slick-slide img {
    border: 5px solid #FFF;
    display: block;
    margin: auto;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}
.slick-dots, .slick-next, .slick-prev {
    position: absolute;
    display: block;
    padding: 0;
}
.slick-prev {
    left: -5px;
}
.slick-next {
    right: -5px;
}
.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
    opacity: 1;
}

.slick-next:before {
    content: "\f105";
    font-size: 45px;
    font-family: FontAwesome;
    color: #80808047;
    display: block;
}
.slick-prev:before {
    content: "\f104";
    font-size: 45px;
    font-family: FontAwesome;
    color: #80808047;
    display: block;
}
.slick-list {
    padding: 25px 0;
}
/**********************Measurement unit*************************/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #63b128;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #63b128;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/************************** AUTOCOMPLETE ***************************/
.ant-select-combobox .ant-select-search__field {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ant-select-combobox .ant-select-search__field__wrap {
    width: 100%;
    height: 100%;
}
.ant-select-auto-complete.ant-select .ant-select-search--inline {
    position: static;
    float: left;
}
.ant-select-combobox .ant-select-search--inline {
    height: 100%;
    width: 100%;
    float: none;
}
.ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
    margin-left: 12px;
    margin-right: 12px;
}
.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    right: 9px;
    line-height: 20px;
    height: 20px;
    max-width: 100%;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    color: #aaaaaa;
}
.ant-select-auto-complete.ant-select .ant-select-selection__rendered {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    line-height: 32px;
}
.ant-select-selection {
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    display: block;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
        border-top-width: 1px;
    border-top-width: 1.02px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-select-search__field__mirror {
    position: absolute;
    top: 0;
    left: -9999px;
    white-space: pre;
    pointer-events: none;
}
.ant-select-auto-complete.ant-select .ant-select-selection__rendered {
    line-height: 32px;
}
.ant-select-selection__rendered::after {
    content: '.';
    visibility: hidden;
    pointer-events: none;
    display: inline-block;
    width: 0;
}
.ant-select ul {
    margin: 0;
    padding: 0;
    list-style: none;
}.ant-select-dropdown-hidden {
    display: none;
}
.ant-select-dropdown {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1050;
    left: -9999px;
    top: -9999px;
    position: absolute;
    outline: none;
    overflow: hidden;
    font-size: 14px;
}
.ant-select-dropdown-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    overflow: auto;
    max-height: 300px;
}
.ant-select-dropdown-menu-item {
    position: relative;
    display: block;
    padding: 5px 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.ant-select-arrow::before {
    content: '\f0dd';
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.ant-select-arrow::before {
    display: block;
    font-family: "FontAwesome" !important;
    font-size: 16px;
    margin-top: -5px;
    color: #63b128;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ant-select-arrow {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 11px;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
}
.ant-select-selection__rendered {
    display: block;
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
    line-height: 32px;
}
.ant-select-search--inline .ant-select-search__field {
    border-width: 0;
    font-size: 100%;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: 0;
    border-radius: 4px;
    line-height: 1;
}
.ant-select-search--inline {
    position: absolute;
    height: 100%;
    width: 100%;
}
.ant-select-selection-selected-value {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding-right: 20px;
}
.ant-select-selection--single {
    height: 35px;
}
.ant-select-dropdown-menu-item-active {
    background-color: #a1d07e;
}
.selected {
    color: #545454!important;
}
/****************************** RESULT ******************************/
.panel-result .panel-body {
    padding: 0px!important;
}
.search-result {
    margin: 20px 0 10px 0;
}
.search-result .panel-result {
    border: none;
}
.right-product span {
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #545454;
}
.result-title {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
    margin-top: 10px;
}
.item-result .left-product {
    width: 31%;
    float: left;
    margin-right: 30px;
    position: relative;
    perspective: 600px;
    -webkit-perspective: 600px;
    -o-perspective: 600px;
    -moz-perspective: 600px;
    display: block;
    border-bottom: 0;
    height: 190px;
    margin-left: 15px;
}
.left-product {
    overflow: hidden;
    position: relative;
    padding: 1px;
}
.left-product img {
    width: 100%;
    position: absolute;
    top:15%;
}
.right-product {
    position: absolute;
    top: 15%;
    left: 50%;
}
.panel-result .item-result .item-product {
    border-radius: 3px;
    background-color: #ffffff;
    float: left;
    width: 100%;
    min-height: 160px;
}
@media (min-width: 430px){
    .left .item-product {
        padding: 10px 15px 10px 0px;
    }
    .center .item-product {
        padding: 10px 15px 10px 15px;
    }
    .right .item-product {
        padding: 10px 0px 10px 15px;
    }
}
@media (max-width: 430px) {
    .item-product {
        margin-top: 10px;
    }
}
.panel-result .item-result .border-product{
    padding: 10px 0;
    border: solid 1px #bcbcbc;
    float: left;
    width: 100%;
    border-radius: 3px;
}
.panel-result .item-result {
    padding: 0;
}
/********************************* SCROLL TO TOP ******************************/
#scroll_top::before {
    content: "\f102";
    font-family: "FontAwesome";
    font-size: 25px;
}
#scroll_top {
    background: #4f8d20;
    text-align: center;
    padding: 0 10px;
    position: fixed;
    bottom: 35px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 0;
    z-index: 100;
    border-radius: 3px;
}
/********************************* RESPONSIVE *********************************/
@media (max-width: 430px){
.sl-bearingtype {
    display: none;
}
.search-content {
    margin: 0;
    padding: 20px 0 20px 0;
}
.btn-search {
    width: 100%;
}
.title-unit {
    margin-top: 15px;
}
.title-unit {
    display: none;
}
.unit .title-unit {
    display: block;
}
